Call the `create_tables.py` file, and run it

In [3]:
%run create_tables.py

connect & check tables

In [4]:
import psycopg2

In [5]:
try:
    conn = psycopg2.connect("host=localhost dbname=sparkifydb user=postgres password=Danny3lfc")
except psycopg2.Error as e:
    print("Error: Could not connect to the PostgreSQL DB")
    print(e)
    
conn.set_session(autocommit=True)

In [6]:
try:
    cur = conn.cursor()
except pyscopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

In [7]:
cur.execute("select count(*) from songplays;")
print(cur.fetchall())

[(11,)]

In [8]:
cur.execute("select count(*) from songs;")
print(cur.fetchall())

[(1,)]

In [9]:
cur.execute("select * from songs;")
print(cur.fetchall())

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, Decimal('218.93179'))]

In [10]:
cur.execute("select count(*) from artists;")
print(cur.fetchall())

[(1,)]

In [11]:
cur.execute("select * from artists;")
print(cur.fetchall())

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', Decimal('NaN'), Decimal('NaN'))]

In [12]:
cur.execute("select * from time;")
print(cur.fetchall())

[('2018-11-01 21:01:46.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:05:52.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:08:16.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:11:13.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:17:33.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:24:53.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:28:54.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:42:00.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:52:05.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 21:55:25.796', '21', '1', '44', '11', '2018', '3'), ('2018-11-01 22:23:14.796', '22', '1', '44', '11', '2018', '3')]

In [13]:
cur.execute("select * from users limit 10;")
print(cur.fetchall())

[('8', 'Kaylee', 'Summers', 'F', 'free'), ('10', 'Sylvie', 'Cruz', 'F', 'free'), ('26', 'Ryan', 'Smith', 'M', 'free'), ('101', 'Jayden', 'Fox', 'M', 'free')]

In [15]:
cur.execute("select * from songplays limit 3;")
print(cur.fetchall())

[(2, '1541106106796', '8', 'free', None, None, '139', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'), (4, '1541106352796', '8', 'free', None, None, '139', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'), (5, '1541106496796', '8', 'free', None, None, '139', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [16]:
# close connection 
cur.close()
conn.close()

Run the `etl.py` script

In [2]:
%run etl.py

71 files found in data/song_data
1/71 files processed.
2/71 files processed.
3/71 files processed.
4/71 files processed.
5/71 files processed.
6/71 files processed.
7/71 files processed.
8/71 files processed.
9/71 files processed.
10/71 files processed.
11/71 files processed.
12/71 files processed.
13/71 files processed.
14/71 files processed.
15/71 files processed.
16/71 files processed.
17/71 files processed.
18/71 files processed.
19/71 files processed.
20/71 files processed.
21/71 files processed.
22/71 files processed.
23/71 files processed.
24/71 files processed.
25/71 files processed.
26/71 files processed.
27/71 files processed.
28/71 files processed.
29/71 files processed.
30/71 files processed.
31/71 files processed.
32/71 files processed.
33/71 files processed.
34/71 files processed.
35/71 files processed.
36/71 files processed.
37/71 files processed.
38/71 files processed.
39/71 files processed.
40/71 files processed.
41/71 files processed.
42/71 files processed.
43/71 files processed.
44/71 files processed.
45/71 files processed.
46/71 files processed.
47/71 files processed.
48/71 files processed.
49/71 files processed.
50/71 files processed.
51/71 files processed.
52/71 files processed.
53/71 files processed.
54/71 files processed.
55/71 files processed.
56/71 files processed.
57/71 files processed.
58/71 files processed.
59/71 files processed.
60/71 files processed.
61/71 files processed.
62/71 files processed.
63/71 files processed.
64/71 files processed.
65/71 files processed.
66/71 files processed.
67/71 files processed.
68/71 files processed.
69/71 files processed.
70/71 files processed.
71/71 files processed.
30 files found in data/log_data
1/30 files processed.
2/30 files processed.
3/30 files processed.
4/30 files processed.
5/30 files processed.
6/30 files processed.
7/30 files processed.
8/30 files processed.
9/30 files processed.
10/30 files processed.
11/30 files processed.
12/30 files processed.
13/30 files processed.
14/30 files processed.
15/30 files processed.
16/30 files processed.
17/30 files processed.
18/30 files processed.
19/30 files processed.
20/30 files processed.
21/30 files processed.
22/30 files processed.
23/30 files processed.
24/30 files processed.
25/30 files processed.
26/30 files processed.
27/30 files processed.
28/30 files processed.
29/30 files processed.
30/30 files processed.